{% extends 'base.html.twig' %}

{% block title %}Hello Ex11Controller!{% endblock %}

{% block body %}
    <h1>Initialisation des tables</h1>
    <form action="{{ path('ex11_create_all_tables') }}" method="post">
        <button type="submit">Créer toutes les tables (persons, bank_accounts, addresses)</button>
    </form>

    {# Affiche les messages flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
{% endblock %}
